<!--
  Generated template for the Standings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="standings.length == 0">Championship Standings</ion-title>
    <ion-title *ngIf="standings.length > 0">
      {{standings[0].DriverStandings[0].Driver.givenName}} {{standings[0].DriverStandings[0].Driver.familyName}} Championship Standings
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let standing of standings">
    <ion-card-header>
      <strong>Season: {{standing.season}}  Round: {{standing.round}}</strong>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <strong>Position</strong>
        </ion-col>
        <ion-col>
          <strong>Constructor</strong>
        </ion-col>
        <ion-col>
          <strong>Points</strong>
        </ion-col>
        <ion-col>
          <strong>Wins</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{standing.DriverStandings[0].position}}
        </ion-col>
        <ion-col>
          {{standing.DriverStandings[0].Constructors[0].name}}
        </ion-col>
        <ion-col>
          {{standing.DriverStandings[0].points}}
        </ion-col>
        <ion-col>
          {{standing.DriverStandings[0].wins}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
